.anagrams {
  margin: 100px auto;
  width: 600px;
  height: 700px;
  border: 1px solid black;
}

.anagrams__title {
  padding-left: 100px;
  margin-bottom: 80px;
}

.anagrams-form {
  width: calc(100% - 40px);
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.anagrams-form:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
}

.anagrams-form-fields {
  width: 50%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.anagrams-form-fields__input {
  margin-bottom: 20px;
  height: 20px;
}

.anagrams-form__submit {
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid grey;

  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.anagrams__info {
  padding-left: 100px;
}

.anagrams__info svg {
  margin-right: 10px;
}
